@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: #F2E530;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

#headline{
position: absolute;
  width: 100%; 
  top:2%;      
  z-index: 100;
  font-family: "Bebas Neue";
  color: hsl(0, 0%, 0%);
  font-weight: bold;
  font-size: 8vw;
  line-height: 1;
  text-align: center; /* centrerer teksten horisontalt inden i div */
 } 

 #loader-container{

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
    font-family: "Bebas Neue";
  color: hsl(0, 0%, 0%);
  font-weight: bold;
  font-size: 5vw;
 }

 #ninja{

  display: block;
  position: absolute;
  left: 50%;
  top:50%;

 border: .9vw solid white;
width: 80%; /* fylder 80% af forælderen */
  max-width: 500px; /* evt max størrelse */
  aspect-ratio: 16 / 9; /* Holder altid 16:9 format */
  overflow: hidden;
transform: translate(-50%, -50%) rotate(4deg);
  transform-origin: center;
-webkit-box-shadow: 1px 2px 9px 1px rgba(0,0,0,0.48); 
box-shadow: 1px 2px 9px 1px rgba(0,0,0,0.48);

  img {
    width: 100%;
 height: 100%; /* Fylder hele div’en */
    -o-object-fit: cover;
    object-fit: cover;
   

 
  }

  
}
